<html>
  <!-- Provided by: Fantasma Web Services -->
  <!-- Version 1.2.0 -->
  <head></head>
  <body bgcolor="#d1e4f9">
  <body>
    <h1>IS214-Law Firm Web Page<h1>
    <p>
      Welcome to our great launch:
	  <br/>
	  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRF0nUtQPddIferVDbB1GFKXVceERTIniGgDXUHA5-O0yZhbd2GGTbOTE1aeIcukkScVoxGa1vHPhIQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      <br/>
      <h3 id="Division">--Service provided by Team GxTy--</h3>
    </p>
  </body>
</html>
